<mat-sidenav-container>
  <mat-sidenav mode="over"
               position="end"
               [fixedInViewport]="true"
               [autoFocus]="false"
               #filterSlide>
    <app-slide-filters  (filterSlideOpen)="filterSlide.toggle()"></app-slide-filters>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-page-header (filterSlideOpen)="filterSlide.toggle()"></app-page-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
